html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: lightblue;
}

.search-form {
  padding: 20px 0;
  background-color: rgb(60, 60, 60);
}

.search-input {
  display: block;
  width: 250px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  background-color: lightslategrey;
  outline: none;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 5px;
  transition: 400ms;
}

.search-input:hover {
  transition: 400ms;
  transform: scale(1.1);
}

.search-input::placeholder {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.card {
  width: 300px;
  margin: 30px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 10px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
}

.image-container {
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  margin-left: 5px;
  color: #212121;
}

.stats-item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.load-more {
  display: none;
  width: 100px;
  height: 100px;
  background-image: url("../assets/loading.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  margin: 50px auto;
}

.load-animation {
  transform: rotate(360deg);
  transition-delay: 500ms;
  transition-duration: 500ms;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 800px;
  height: auto;
}

.link-back {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  bottom: 30px;
  right: 30px;
  outline: none;
  position: fixed;
  background-image: url("../assets/up-arrow.svg");
  transition: 400ms;
}

.link-back:hover {
  transform: scale(1.1);
  transition: 400ms;
  background-color: rgba(80, 80, 80, 05);
}
